---
import BaseSerie from "@/layouts/BaseSerie.astro";
---

<BaseSerie
    title="Ciberseguridad"
    description="Defiende, detecta y destruye!"
    imgSrc="/assets/images/_series/ciberseguridad.png"
    imgAlt="Figura encapuchada en un escritorio rodeada de iconos digitales y hologramas, sugiriendo temas de ciberseguridad."
>

    <ol class="list-decimal list-inside">
        <li><a href="/blog/ciberseguridad/intro">Introducción y Roles</a></li>
        <li><a href="/blog/ciberseguridad/infosec">Seguridad de la información</a></li>
        <li><a href="/blog/ciberseguridad/intel">Ciberinteligencia</a></li>
        <li><a href="/blog/ciberseguridad/malware">Análisis de malware</a></li>
        <li><a href="/blog/ciberseguridad/cripto">Criptografía y Esteganografía</a></li>
        <li><a href="/blog/ciberseguridad/codigo-seguro">Código seguro</a></li>
        <li><a href="/blog/ciberseguridad/pentesting">Pentesting</a></li>
        <li><a href="/blog/ciberseguridad/forense">Ingeniería forense</a></li>
    </ol>

    </br>
</BaseSerie>
<style>
    a:hover{
        color: violet;
    }
</style>