---
import BaseSerie from "@/layouts/BaseSerie.astro";
---

<BaseSerie
    title="Pensamiento lógico"
    description="Todos los artículos escritos para entender y potenciar el pensamiento lógico de un desarrollador de software."
    imgSrc="/assets/images/_series/pensamiento_logico.png"
    imgAlt="Portada de libro con diseño mecánico y astronómico que simboliza la profundidad del conocimiento."
>
    <ol class="list-decimal list-inside">
        <li><a href="/blog/logica/intro-pensamiento-logico">Introducción</a></li>
        <li><a href="/blog/logica/bases-matematicas">Bases Matemáticas</a></li>
        <li><a href="/blog/logica/operaciones-matematicas">Propiedades de las operaciones matemáticas</a></li>
        <li><a href="/blog/logica/sistema-binario">Sistema binario</a></li>
        <li><a href="/blog/logica/tablas_verdad">Tablas de verdad</a></li>
        <li><a href="/blog/logica/operadores-logicos">Operadores lógicos</a></li>
        <li><a href="/blog/logica/operadores-aritmeticos">Operadores aritméticos</a></li>
    </ol>

    </br>
</BaseSerie>
    