---
import BaseSerie from "@/layouts/BaseSerie.astro";
---

<BaseSerie
    title="Redes"
    description="Las redes bajo la mirada de la ciberseguridad."
    imgSrc="/assets/images/_series/redes.png"
    imgAlt="Globo terráqueo digital con iconos de tecnología y seguridad en una red de conexiones sobre fondo azul oscuro."
>
    <ol class="list-decimal list-inside">
        <li><a href="/blog/redes/introduccion">Introducción</a></li>
    </ol>

    </br>
</BaseSerie>