---
import BaseSerie from "@/layouts/BaseSerie.astro";
---

<BaseSerie
    title="Redes"
    description="Las redes bajo la mirada de la ciberseguridad."
    imgSrc="/assets/images/_series/redes.png"
    imgAlt="Globo terráqueo digital con iconos de tecnología y seguridad en una red de conexiones sobre fondo azul oscuro."
>
    <ol class="list-decimal list-inside">
        <li><a href="/blog/redes/introduccion">Introducción</a></li>
        <li><a href="/blog/redes/mascaras">Máscaras de subred</a></li>
        <li><a href="/blog/redes/clases-de-direcciones">Clases de direcciones</a></li>
        <li><a href="/blog/redes/disenio-direccionamiento">Diseño de direccionamiento</a></li>
        <li><a href="/blog/redes/direcciones-publicas-privadas">Direcciones públicas y privadas</a></li>
        <li><a href="/blog/redes/dns">DNS</a></li>
        <li><a href="/blog/redes/dhcp">DHCP</a></li>
        <li><a href="/blog/redes/rutas">Rutas</a></li>
    </ol>

    </br>

    <h2 class="text-xl font-semibold">Herramientas:</h2>

    <ol class="list-decimal list-inside">
        <li><a href="/blog/redes/packet-tracer">Cisco Packet Tracer</a></li>
    </ol>

    </br>
</BaseSerie>
<style>
    a:hover{
        color: violet;
    }
</style>