---
import Base from "@/layouts/Base.astro";
import PaginationHeader from "@/components/Blog/PaginationHeader";
import Section from "@/components/Section";
import SerieCard from "@/components/Series/SerieCard";
---

<Base head={{ title: "Series - Pythonesa's Blog" }}>
    <PaginationHeader title="Series" description="Posts ordenados por categoría, en orden para facilitar la lectura." />
    <Section>
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
            <SerieCard
                title="Ciberseguridad"
                link="/series/ciberseguridad"
                description="Defiende, detecta y destruye!"
                imgSrc="/assets/images/_series/ciberseguridad.png"
                imgAlt="Figura encapuchada en un escritorio rodeada de iconos digitales y hologramas, sugiriendo temas de ciberseguridad."
            />
            <SerieCard 
                title="Redes" 
                link="/series/redes" 
                description="Las redes bajo la mirada de la ciberseguridad." 
                imgSrc="/assets/images/_series/redes.png"
                imgAlt="Globo terráqueo digital con iconos de tecnología y seguridad en una red de conexiones sobre fondo azul oscuro.."
            />
            <SerieCard 
                title="Tips de Pythonesa" 
                link="/series/tips" 
                description="Esto puede ayudarte, o no." 
                imgSrc="/assets/images/_series/tips.png"
                imgAlt="Chica programando en un ordenador."
            />
            <SerieCard 
                title="Pensamiento lógico" 
                link="/series/pensamiento_logico" 
                description="Todos los artículos escritos para entender y potenciar el pensamiento lógico de un desarrollador de software." 
                imgSrc="/assets/images/_series/pensamiento_logico.png"
                imgAlt="Portada de libro con diseño mecánico y astronómico que simboliza la profundidad del conocimiento."
            />
        </div>
    </Section>
</Base>